<head>

</head>
<div class="setup-container">
  <div class="form-container">
    <form class="players-form">
      <mat-form-field class="player1" [(ngModel)]="">
        <input matInput placeholder="Enter Player Name" value="Player1">
      </mat-form-field>
      <mat-form-field class="player2">
        <input matInput placeholder="Enter Player Name" value="Player2">
      </mat-form-field>
      <mat-form-field class="player3">
        <input matInput placeholder="Enter Player Name" value="Player3">
      </mat-form-field>
      <mat-form-field class="player4">
        <input matInput placeholder="Enter Player Name" value="Player4">
      </mat-form-field>
    </form>
  </div>
</div>
