<head>

</head>
<div class="setup-container">
  <div class="form-container">
      <mat-form-field class="playerInput" [(ngModel)]="scoreService.players.player1" name="player1" ngDefaultControl>
        <input matInput placeholder="Enter Player Name">
      </mat-form-field>
      <mat-form-field class="playerInput" [(ngModel)]="scoreService.players.player2" name="player2" ngDefaultControl>
        <input matInput placeholder="Enter Player Name">
      </mat-form-field>
      <mat-form-field class="playerInput" [(ngModel)]="scoreService.players.player3" name="player3" ngDefaultControl>
        <input matInput placeholder="Enter Player Name">
      </mat-form-field>
      <mat-form-field class="playerInput" [(ngModel)]="scoreService.players.player4" name="player4" ngDefaultControl>
        <input matInput placeholder="Enter Player Name">
      </mat-form-field>
      <mat-form-field [formControl]="course" name="course" ngDefaultControl>
        <mat-select class="courseSelect" placeholder="Select Course" [(ngModel)]="scoreService.gameInfo.courseID">
          <mat-option *ngFor="let course of courses" [value]="course.id">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field [formControl]="tee" name="tee" ngDefaultControl>
      <mat-select class="courseSelect" placeholder="Select Tee" [(ngModel)]="scoreService.gameInfo.teeType">
        <mat-option *ngFor="let tee of tees" [value]="tee.id">
          {{ tee.name }}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <button mat-raised-button color="primary" (click)="logName();">Primary</button>
  </div>
</div>
